html {
    --secondary-1: #dccac9;
    --secondary-2: #c8acab;
    --secondary-3: #b48d8c;
    --secondary-4: #a06f6d;
    --secondary-5: #7A514F;
    --secondary-6: #513634;
    --secondary-7: #281a1a;

    --primary-2: #8db2a3;
    --primary-1: #acc7bc;
    --primary-3: #6f9e8b;
    --primary-4: #517868;
    --primary-5: #436456;
    --primary-6: #364f45;
    --primary-7: #283b33;
    --primary-8: #1a2722;


    --primary: var(--primary-6);
    --secondary: var(--secondary-4);
    --secondary-light: var(--secondary-1);

    --link:  var(--secondary-8);
    --link-hover: var(--secondary-4);
}

