html {
  
    --primary-1: #acc7bc;
    --primary-2: #cad2c5;
    --primary-3: #52796f;
    --primary-4: #354f52;
    --primary-5: #2f3e46;
    --primary-6: #2f3e46;


    --secondary-1: #dccac9;
    --secondary-2: #ffcdb2;
    --secondary-3: #ffb4a2;
    --secondary-4: #e5989b;
    --secondary-5: #b5838d;
    --secondary-6: #6d6875;


    --primary: var(--primary-5);
    --primary-light: var(--secondary-1);
    --secondary: var(--secondary-5);
    --secondary-light: var(--secondary-1);

    --link:  var(--secondary-6);
    --link-hover: var(--secondary-4);
}
