

.home img {
    display: block;
    max-width: 30vw; 
    max-height: auto;
    object-fit: cover;
}

.home-title {
    margin-top: 0;
    font-size: 3vw;
    color: var(--primary-6);
    display: block;
   
    
}

.home-text{
    color: var(--primary-6);
    font-size: 2vw;
    padding: 0.5vw;
    height: min-content;
    border: 1px solid var(--primary-6);
    border-radius: 0.4em;
}

.home-subheader {
    text-decoration: none;
    color: var(--primary-6);
    position: relative;
    font-size: 3vw;
    opacity: 0.9 !important;
    
}

.home-subheader:hover {
    cursor: pointer;
    opacity: 0.5 !important;
    transition: opacity 0.2s ease;
    display: block;
}

.activate-darktheme {
    color: var(--secondary-1); 
    background-color: var(--primary-6);
}





