.text-project {
    padding-top: var(--spacer-m);
    height: min-content;
    position: sticky;
    top: 0;
}

.lc-photo {
    display: flex;
}


@media (max-width: 500px) {
    .text-project {
        order: -1;
    }
}