  <div class="footer">
    <div class="container grid">
      <button class='footer-icon' type='button'>
        <img src='/assets/images/switch-theme.png'>
      </button>
      <p class='footer-text'>Change Theme</p>
    </div>
  </div>
  <!--

  -->

<script src="/assets/scripts/switch-theme.js"></script>
  </body>
</html>