<div class="header">

  <div class="container grid">
    
    {% set navPages = collections.all | eleventyNavigation %}
    <div class="nav">
      {%- for elem in navPages %}
        <a href="{{ elem.url | url }}"
          {% if elem.url == page.url %} class="active"{% endif %}
        >
          {{ elem.title }}
        </a>
      {%- endfor %}
    </div>

  </div>

</div>