---
layout: layouts/base.njk
title: Business Card
eleventyNavigation:
  key: bc
  title: Business Card
---

<div class="card border-blue col-12">
            <img
                src="/assets/images/profile-1.png"
                alt="Kaley Nguyen smiling at the camera in Chicago" 
                class="avatar border-blue">
            <div class="border-blue text">
                <h3>Kaley Nguyen</h3>
                <p>Data Scientist / Recipe Developer</p>
                <h4>Springfield, IL</h4>
            </div>
</div>