---
layout: layouts/contact.njk
title: Contact
eleventyNavigation:
  key: contact
  title: Contact
  order: 6
---

<div class="col-12">
  <h1>Contact</h1>
  <p>
    Enter your name
  </p>
  <input type='text' placeholder='Enter your name' name="name-input">
  <input type='email' placeholder='Enter your address' name='email-input'>
  <button type='button'>Submit your form</button>
  <p>Upload your email</p>
  <input type='file'>
</div>