---
layout: layouts/contact.njk
title: Contact
eleventyNavigation:
  key: contact
  title: Contact
  order: 6
---

<div class="col-12">
  <h1>Contact</h1>
  <p>
    Enter your name
  </p>
  <input type='text' placeholder='Enter your name'>
  <button type='button'>Submit your form</button>
  <p>Or upload your form by choosing it from your computer</p>
  <input type='file'>
</div>