---
layout: layouts/contact.njk
title: Contact
eleventyNavigation:
  key: contact
  title: Contact
  order: 6
---

<div class="col-12">
  <p>Please submit a form to contact me and I will email you back.</p>
  <form>
    <input type='text' placeholder='Enter your name' name="nameInput" required>
    <input type='email' placeholder='Enter your email' name='emailInput' required>
    <button type='submit'>Submit</button>
    <p>Or upload your email</p>
    <input type='file'>
  </form>
</div>