---
layout: layouts/base.njk
title: Data Viz         
eleventyNavigation:
  key: viz  
  title: Data Visualization
  order: 5
---

<div class="col-12">
  <h1>What is Data Viz?</h1>
  <p>
    Hihiiiiiii
  </p>
</div>