---
layout: layouts/base.njk
title: Work
eleventyNavigation:
  key: lc
  title: Lending Club
  order: 2
---

<div class="col-12">
  <h1>What is Lending Club?</h1>

  {% set ele = {'image': 'photo-3.png'} %}
  {% include 'components/project.njk' %}
  <p>
    Hihiiiiiii
  </p>
  {% for ele in lc %}
    {% include 'components/project.njk'%}
  {% endfor %}
</div>