---
layout: layouts/base.njk
title: Lending Club
eleventyNavigation:
  key: lc
  title: Lending Club
  order: 4
---



  <div class='col-3 col-md-4 col-sm-2 col-xs-3 text-project'>
    <h1 class='text-title'> Lending Club </h1>
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
  </div>

  <div class='col-9 col-md-6 col-sm-6 col-xs-9 lc-photo'>
  {% for ele in lcphotos %}
    {% include 'components/project.njk'%}
  {% endfor %}
  </div>
  
